<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Layout{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/components/header.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>

    {% include "components/header.html" %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include "components/footer.html" %}

</body>
</html>